<%- include('dashboard_parts/header'); -%>
<div class="container">

    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h1 class="h2">Búsqueda de Comunidades</h1>
    </div>
    
    <form>
      <div class="mb-3">
        <label for="comunidadInput" class="form-label">Comunidad:</label>
        <input type="text" class="form-control" id="comunidadInput" placeholder="Ingrese el nombre de la comunidad">
      </div>
      <button type="submit" class="btn btn-primary">Buscar</button>
    </form>
  
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Comunidad</th>
          <th>Población</th>
          <th>Provincia</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Comunidad 1</td>
          <td>1000</td>
          <td>Provincia 1</td>
        </tr>
        <tr>
          <td>Comunidad 2</td>
          <td>2000</td>
          <td>Provincia 2</td>
        </tr>
        <!-- ... Agrega más filas según tus necesidades ... -->
      </tbody>
    </table>
  
    <div class="card" style="display: none;">
      <div class="card-body">
        <h5 class="card-title">Información de la Comunidad</h5>
        <p class="card-text" id="comunidadInfo">Aquí se mostrará la información de la comunidad seleccionada.</p>
      </div>
    </div>
  
  </div>
<%- include('dashboard_parts/footer'); -%>