<%- include('dashboard_parts/header'); -%>
<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom text-light">
    <h1 class="h2">Recuperar contraseña</h1>
</div>
<div class="container ">
    <div class="card rounded-4 bg-dark text-light">
        <div class="card-body">
            <p class="card-text" id="comunidadInfo">Ingrese el correo electronico, del usuario que olvido su contraseña</p>
            <div class="input-group flex-nowrap">
                <span class="input-group-text bg-dark text-light" id="addon-wrapping">@</span>
                <input type="email" 
                        id="ipt_correo"
                        class="form-control bg-dark text-light" 
                        placeholder="Correo Electronico" 
                        aria-label="Correo"
                        aria-describedby="addon-wrapping">
            </div>
            <br>
            <button class="btn btn-primary" id="btn_recuperar_password">Recuperar contraseña</button>
        </div>
    </div>
</div>

</div>
<script src="/js/recuperarPassword.js"></script>
<%- include('dashboard_parts/footer'); -%>